.challenge{
    *{
        background-color: $background;
    }

    &__header{
        font-family: 'Open Sans', sans-serif;
        height: 150px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 4rem;
        border-bottom: 1px solid rgba(106, 106, 106, 0.2);
    }

    &__title-div{
        width: 100%;
        height: 100%;
        border-right: 1px solid rgba(106, 106, 106, 0.2);
        justify-content: center;
        display: flex;
        flex-direction: column;

        h1{
            font-size: 20px;
            font-family: 'Open Sans', sans-serif;
            color: $white;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 1px;
        }

        h3{
            margin-top: 0.25rem;
            color: $foreground;
            font-weight: 100;
            text-transform: lowercase;
        }
    }

    &__stats{
        width: 32%;
        display: flex;
        height: 100%;
    }

    &__stats-group{
        width: 50%;
        border-right: 1px solid rgba(106, 106, 106, 0.2);
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        align-items: center;

        i{
            font-size: 24px;
            margin-bottom: 1rem;
        }

        h2{
            font-family: 'Open Sans', sans-serif;
            font-weight: 100;
            color: $white;
            font-size: 0.85em;
            text-transform: uppercase;
        }
    }

    &__content{
        font-family: 'Open Sans', sans-serif;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-left: 4rem;
        min-height: calc(100vh - 241px);
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    &__title{
        width: 100%;
        border-right: 1px solid rgba(106, 106, 106, 0.2);
        justify-content: center;
        display: flex;
        flex-direction: column;
        
        h1{
            font-size: 16px;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 900;
            color: $foreground;
            margin-bottom: 0.5rem;
        }

        p{
            padding-right: 20%;
            color: $white;
            font-weight: 100;
            word-break: break-all;
            margin-top: 0.5rem;
            line-height: 24px;
        }

        .container-download{
            height: 44px;
            width: 300px;
            font-family: 'Open Sans', sans-serif;
            font-size: 0.8em;
            padding: 0 24px;
            text-transform: uppercase;
            border-radius: 4px;
            outline: none;
            transition: all ease-in-out 0.5s;
            background-color: $green;
            margin-top: 1rem;

            &:hover{
                background-color: lighten($green, 10%);
                cursor: pointer;

                *{
                    background-color: lighten($green, 10%);
                }
            }
            *{
                background-color: $green;
                transition: all ease-in-out 0.5s;
            }

            form{
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                a{
                    font-family: 'Open Sans', sans-serif;
                    color: $background;
                    text-decoration: none;
                    font-weight: 800;
                }
            }
        }
    }

    &__form{
        width: 32%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__submit-title{
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 2rem;
        align-items: center;

    
        i{
            font-size: 24px;
        }

        h1{
            font-size: 16px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 800;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-left: 1rem;
            color: $white;
        }
    }

    &__flag{
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-top: 1.5rem;
        align-items: center;
        justify-content: center;

        label{
            color: $foreground;
            text-transform: uppercase;
            font-size: 0.8em;
        }

        input{
            margin-top: 1rem;
            width: 70%;
            line-height: 40px;
            padding-left: 8px;
            outline: none;
            border: 1px solid rgba(106, 106, 106, 0.2);
            border-radius: 4px;
            color: $white;
        }

        button{
            width: 70%;
            margin-top: 1rem;
            height: 48px;
            text-align: center;
            background-color: $green;
            color: $background;
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            border-radius: 4px;
            font-size: 0.8em;
            text-transform: uppercase;
            border: none;
            outline: none;
            transition: all ease-in-out 0.3s;

            &:hover{
                cursor: pointer;    
                background-color: darken($green, 5%);
            }
        }
    }
}