$background: #1a2332;
$foreground: #a4b1cd;
$contrast: #1b2330;
$bblack: #666666;
$white: #ffffff;
$red: #ff3e3e;
$bred: #ff8484;
$green: #9fef00;
$bgreen: #c5f467;
$yellow: #ffaf00;
$byellow: #ffcc5c;
$blue: #004cff;
$bblue: #5cb2ff;
$purple: #9f00ff;
$bpurple: #c16cfa;
$cyan: #2ee7b6;
$bcyan: #5cecc6;
$cursor: #313f55;