{% extends "main/layout.html" %} {% load static %} {% block global_styling %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
{% endblock global_styling %} {% block content %}
<h1 hidden>{{ csrf_token }}</h1>
<div class="container">
{% comment %} <div id="particles-js"></div> {% endcomment %}

  <h1>WELCOME!</h1>
  <form id="key-form">
    <a href="{% url 'login' %}">LOGIN</a>
    <label for="key">----------------------------</label>
    <a href="{% url 'register' %}">REGISTER</a>
  </form>

  
</div>



<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/particles.js' %}"></script>
{% endblock content %}