{% load static %} 
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Leaderboard | The Red Labyrinth</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'scss/main.css' %}"

</head>
<body>
  <div class="nav">
    <img src="{% static 'img/logov.png' %}" />
    <ul>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/logout">Logout</a></li>
        <li>Welcome back, {{user}}</li>
    </ul>
  </div> 
  <div class="leaderboard">
    <h1 class="leaderboard__title">LEADERBOARD</h1>
    <div class="l-grid">
      <div class="l-grid__item l-grid__item--sticky">
        <div class="c-card u-bg--light-gradient u-text--dark">
          <div class="c-card__body">
            <div class="u-display--flex u-justify--space-between">
              <div class="u-text">
                <div class="u-text">My Rank</div>
                <h2 id="current_player_rank"></h2>
              </div>
              <div class="u-text">
                <div class="u-text--small">My Score</div>
                <h2 id="current_player_score"></h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="l-grid__item">
        <ul class="c-list" id="list">
          <!-- <li class="c-list__item">
            <div class="c-list__grid">
              <div class="u-text--left u-text--small u-text--medium">Rank</div>
              <div class="u-text--center u-text--small u-text--medium">Player</div>
              <div class="u-text--right u-text--small u-text--medium">Points Scored</div>
            </div>
          </li> -->
    
        </ul>
      </div>
    </div>
  </div>
  <script  src="{% static 'js/leaderboard.js' %}"></script>
  <script>
    var current_player = "{{ player.username }}"
    var members = [
      {% for player in players%}
        {
          first_name: "{{ player.first_name }}",
          last_name: "{{ player.last_name }}",
          score: {{ player.score }},
          username: "{{ player.username }}",
          school: "{{ player.school.school }}",
        },
      {% endfor %}
    ]
    generate_leaderboard(members)
  </script>
</body>
</html>