
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
body
{
    background-color: #111111; /* Fallback color */

}
body, html {
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  }



  .container {
    background-color: #111111; /* Fallback color */
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }

  .container-download {
    background-color: #111111; /* Fallback color */
    font-weight: bold;
    position: absolute;
    transform: translate(-50%, 90%);
    top: 75%;
    left: 50%;
    z-index: 2;
    width: 50%;
    padding: 20px;
    text-align: center;
  }

h1
{
    color: white;
    font-family: "Major Mono Display", monospace;
    padding: 2%;
    color: #ffffff;
    width: 100%;
    text-align: center;
    font-size: 1.7em;
}

#key
{
    border: 0;
    background-color: #111111;
    border-bottom: 2px solid #ffffff;
    color: #ffffff;
    height: 4vh;
    width: 70%;
    font-family: "Major Mono Display", monospace;
    font-size: 1.5em;
    margin-bottom: 2rem;
}

#key::placeholder
{
    color: #ffffff;
}

#key:focus
{
    outline-style: none;
}

label
{
    color: #ffffff;
    font-family: "Major Mono Display", monospace;
    margin-top: 3vh;
    font-size: 1.75em;
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form button
{
    color: #ffffff;
    border: none;
    font-size: 1.5em;
    border: 2px solid #ffffff;
    background: linear-gradient(to right, #111111 50%, #ffffff 50%);
    background-size: 200% 100%;
    background-position:left bottom;
    font-family: "Major Mono Display", monospace;
    width: 70%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 6px;
    transition:all 1s ease;
}

form button:hover
{
    color: black;
    cursor: pointer;
    background-position:right bottom;
}

form a
{
    color: #ffffff;
    border: none;
    font-size: 1.5em;
    border: 2px solid #ffffff;
    background: linear-gradient(to right, black 50%, #ffffff 50%);
    background-size: 200% 100%;
    background-position:left bottom;
    font-family: "Major Mono Display", monospace;
    width: 70%;
    padding-top: 1rem;
    text-align: center;
    text-decoration: none;
    padding-bottom: 1rem;
    border-radius: 6px;
    transition:all 1s ease;
}

form a:hover
{
    color: black;
    cursor: pointer;
    background-position:right bottom;
}

a {
    color: white;
    text-decoration: none;
    display: inline-block;
    border-radius: 0.4rem;
    align-items: left;
  }


  a:hover{
    color: white;
    text-decoration: underline;
  }

  .l-wrapper {
    width: 100%;
    max-width: 1260px;
    margin: auto;
    padding: 1.6rem 1.6rem 3.2rem;
  }