@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
body
{
    /* background-color: black; */
    overflow-x: hidden;
}

.table{
    border-collapse: collapse;
    border: 1px solid #ffffff;
    width: 90vw;
    border-radius: 1em;
    margin-top: 1rem;
}

.table-row{
    height: 8vh;
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    border-radius: 1em;
}

.table-heading{
    text-align: center;
    font-weight: 900;
    font-size: 2em;
    font-family: "Major Mono Display";
    color: #ffffff;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.table-data{
    text-align: center;
    font-weight: 100;
    font-size: 1.5em;
    font-family: sans-serif;
    color: #ffffff;
    word-break: break-all;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}
.table-row.active{
    background-color: #ffffff;
}

.table-data.active{
    color: #000;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px){
    .table-heading{
        font-size: 1.2em;
    }

    .table-data{
        font-size: 1.1em;
    }
    h1{
        font-size: 2em;
    }
}

button
{
    color: #ffffff;
    border: none;
    font-size: 1.5em;
    border: 2px solid #ffffff;
    background: linear-gradient(to right, black 50%, #ffffff 50%);
    background-size: 200% 100%;
    background-position:left bottom;
    font-family: "Major Mono Display", monospace;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 6px;
    transition:all 1s ease;
}

button:hover
{
    color: black;
    cursor: pointer;
    background-position:right bottom;
}

html {
    --black: #000000;
    --white: #ffffff;
    --darkest: #111111;
    --darker: #16171A;
    --dark: #A3AFBF;
    --medium: #DFE7EF;
    --light: #CAD4E1;
    --lighter: #F5F8FC;
    --lightest: var(--white);
    --primary: #f65925;
    --primary-light: #DDD9FF;
    --primary-trans: #ffffff;
    --yellow: #FDCB6E;
    --orange: #E17055;
    --teal: #00CEC9;
    --bg: var(--darkest);
    --color: var(--lightest);
    --surface: var(--darker);
  }
  
 
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    font-family: "Oswald", system-ui;
  }
  
  a {
    color: var(--primary);
    text-decoration: none;
    transition: all 120ms ease-out 0s;
    display: inline-block;
    border-radius: 0.4rem;
  }

  
  button, textarea, input, select {
    font-family: inherit;
    color: inherit;
  }
  button:active, button:focus, textarea:active, textarea:focus, input:active, input:focus, select:active, select:focus {
    outline: 0;
  }
  
  button, select {
    cursor: pointer;
  }
  
  .l-wrapper {
    width: 100%;
    max-width: 1260px;
    margin: auto;
    padding: 1.6rem 1.6rem 3.2rem;
  }

  .l-wrapper-footer {
    width: 100%;
    max-width: 1260px;
    margin: auto;
    padding: 5.6rem 1.6rem 3.2rem;
  }
  
  .l-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 1.6rem;
    grid-row-gap: 1.6rem;
    position: relative;
  }
  @media screen and (max-width: 700px) {
    .l-grid {
      grid-template-columns: 1fr;
    }
  }
  
  .c-header {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.4rem;
    position: relative;
  }
  .c-header:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 0.2rem;
    background: var(--primary-trans);
  }

  .c-header a{
    color: #ffffffa2;
    font-size: 18.5px;

  }

  .c-header a:hover{
    color: #ffffff;
    font-size: 19px;

  }
  
  
  .u-text--title {
    font-family: "Oswald", system-ui;
  }
  
  .u-text--left {
    text-align: left;
  }
  .u-text--center {
    text-align: center;
  }
  .u-text--right {
    text-align: right;
  }
  
  .u-bg--light {
    background: var(--lightest) !important;
  }
  
  .u-text--light {
    color: var(--lightest) !important;
  }
  
  .u-bg--primary {
    background: var(--primary) !important;
  }
  
  .u-text--primary {
    color: var(--primary) !important;
  }
  
  .u-bg--dark {
    background: var(--darkest) !important;
  }
  
  .u-text--dark {
    color: var(--darkest) !important;
  }
  
  .u-bg--transparent {
    background: transparent !important;
  }
  
  .u-text--transparent {
    color: transparent !important;
  }
  
  .u-bg--medium {
    background: var(--medium) !important;
  }
  
  .u-text--medium {
    color: var(--medium) !important;
  }
  
  .u-bg--yellow {
    background: var(--yellow) !important;
  }
  
  .u-text--yellow {
    color: var(--yellow) !important;
  }
  
  .u-bg--orange {
    background: var(--orange) !important;
  }
  
  .u-text--orange {
    color: var(--orange) !important;
  }
  
  .u-bg--teal {
    background: var(--teal) !important;
  }
  
  .u-text--teal {
    color: var(--teal) !important;
  }
  
  .u-bg--light-gradient {
    background: linear-gradient(to top, var(--light), var(--lightest)) !important;
  }
  
  .u-text--light-gradient {
    color: linear-gradient(to top, var(--light), var(--lightest)) !important;
  }
  
  .u-display--flex {
    display: flex;
  }
  
  .u-align--center {
    align-items: center;
  }
  
  .u-justify--center {
    justify-content: center;
  }
  
  .u-align--flex-end {
    align-items: flex-end;
  }
  
  .u-justify--flex-end {
    justify-content: flex-end;
  }
  
  .u-align--flex-start {
    align-items: flex-start;
  }
  
  .u-justify--flex-start {
    justify-content: flex-start;
  }
  
  .u-align--space-between {
    align-items: space-between;
  }
  
  .u-justify--space-between {
    justify-content: space-between;
  }
  
  .u-text--small {
    font-size: 1.4rem;
  }
  
  .u-pl--2 {
    padding-left: 0.2rem;
  }
  
  .u-ml--2 {
    margin-left: 0.2rem;
  }
  
  .u-pr--2 {
    padding-right: 0.2rem;
  }
  
  .u-mr--2 {
    margin-right: 0.2rem;
  }
  
  .u-pb--2 {
    padding-bottom: 0.2rem;
  }
  
  .u-mb--2 {
    margin-bottom: 0.2rem;
  }
  
  .u-pt--2 {
    padding-top: 0.2rem;
  }
  
  .u-mt--2 {
    margin-top: 0.2rem;
  }
  
  .u-pl--4 {
    padding-left: 0.4rem;
  }
  
  .u-ml--4 {
    margin-left: 0.4rem;
  }
  
  .u-pr--4 {
    padding-right: 0.4rem;
  }
  
  .u-mr--4 {
    margin-right: 0.4rem;
  }
  
  .u-pb--4 {
    padding-bottom: 0.4rem;
  }
  
  .u-mb--4 {
    margin-bottom: 0.4rem;
  }
  
  .u-pt--4 {
    padding-top: 0.4rem;
  }
  
  .u-mt--4 {
    margin-top: 0.4rem;
  }
  
  .u-pl--8 {
    padding-left: 0.8rem;
  }
  
  .u-ml--8 {
    margin-left: 0.8rem;
  }
  
  .u-pr--8 {
    padding-right: 0.8rem;
  }
  
  .u-mr--8 {
    margin-right: 0.8rem;
  }
  
  .u-pb--8 {
    padding-bottom: 0.8rem;
  }
  
  .u-mb--8 {
    margin-bottom: 0.8rem;
  }
  
  .u-pt--8 {
    padding-top: 0.8rem;
  }
  
  .u-mt--8 {
    margin-top: 0.8rem;
  }
  
  .u-pl--16 {
    padding-left: 1.6rem;
  }
  
  .u-ml--16 {
    margin-left: 1.6rem;
  }
  
  .u-pr--16 {
    padding-right: 1.6rem;
  }
  
  .u-mr--16 {
    margin-right: 1.6rem;
  }
  
  .u-pb--16 {
    padding-bottom: 1.6rem;
  }
  
  .u-mb--16 {
    margin-bottom: 1.6rem;
  }
  
  .u-pt--16 {
    padding-top: 1.6rem;
  }
  
  .u-mt--16 {
    margin-top: 1.6rem;
  }
  
  .u-pl--24 {
    padding-left: 2.4rem;
  }
  
  .u-ml--24 {
    margin-left: 2.4rem;
  }
  
  .u-pr--24 {
    padding-right: 2.4rem;
  }
  
  .u-mr--24 {
    margin-right: 2.4rem;
  }
  
  .u-pb--24 {
    padding-bottom: 2.4rem;
  }
  
  .u-mb--24 {
    margin-bottom: 2.4rem;
  }
  
  .u-pt--24 {
    padding-top: 2.4rem;
  }
  
  .u-mt--24 {
    margin-top: 2.4rem;
  }
  
  .u-pl--32 {
    padding-left: 3.2rem;
  }
  
  .u-ml--32 {
    margin-left: 3.2rem;
  }
  
  .u-pr--32 {
    padding-right: 3.2rem;
  }
  
  .u-mr--32 {
    margin-right: 3.2rem;
  }
  
  .u-pb--32 {
    padding-bottom: 3.2rem;
  }
  
  .u-mb--32 {
    margin-bottom: 3.2rem;
  }
  
  .u-pt--32 {
    padding-top: 3.2rem;
  }
  
  .u-mt--32 {
    margin-top: 3.2rem;
  }

  .flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    border: 2px solid rgba(251, 251, 251, 0.663);
    border-radius:1em;
    text-align: center;
}  


.flex-child:first-child {
    margin-right: 20px;
} 

.link{
    color: #c0c0c0;
    font-size: 13px;
    line-height: 1.5;
    font-family: "Overpass Mono", system-ui;
    text-decoration: none;
    text-align: center;
    padding: 0 50px;
  }
  
  .link:hover {
  
    text-decoration: underline;
  
  }
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@keyframes rotate_scale {
  0% {
    transform: scale(0) rotate(0) translate(25%, -50%);
    opacity: 1;
  }
  100% {
    transform: scale(6) rotate(250deg) translate(-50%, -50%);
    opacity: 0;
  }
}
body {
  position: relative;
}

#main {
  width: 100%;
  position: relative;
  background: #111111;
}
#main .box {
  position: absolute;
  bottom: 20%;
  left: 10%;
  z-index: 5;
  width: 25px;
  height: 25px;
  border: 2px solid #e63946;
  transform: scale(0) rotate(0) translate(-50%, -50%);
  animation: rotate_scale 11s ease-in-out forwards infinite;
  -webkit-animation: rotate_scale 10s ease-in-out forwards infinite;
}
#main .box:nth-child(2) {
  border-color: #f1faee;
  animation-delay: 2s;
  left: 50%;
  bottom: 30%;
}
#main .box:nth-child(3) {
  border-color: #1d3557;
  animation-delay: 4s;
  left: 50%;
  top: 5%;
}
#main .box:nth-child(4) {
  border-color: #457b9d;
  animation-delay: 6s;
  right: 10%;
  top: 20%;
}
#main .box:nth-child(5) {
  border-color: #a8dadc;
  animation-delay: 8s;
  top: 50%;
  left: 85%;
}
#main .box:nth-child(6) {
  animation-delay: 9s;
  top: 50%;
  left: 50%;
}
#main .box:nth-child(7) {
  border-color: #a8dadc;
  animation-delay: 9.5s;
  top: 20%;
  left: 60%;
}
#main .box:nth-child(8) {
  border-color: #1d3557;
  animation-delay: 11s;
  top: 60%;
  left: 40%;
}
#main .box:nth-child(9) {
  animation-delay: 12s;
  top: 10%;
  left: 80%;
}
#main .box:nth-child(10) {
  border-color: #cb870f;

  animation-delay: 13s;
  top: 50%;
  left: 30%;
}

#main .box:nth-child(11) {
  border-color: #a8dadc;
  animation-delay: 13s;
  top: 50%;
  left: 85%;
}
#main .box:nth-child(12) {
  animation-delay: 13s;
  top: 50%;
  left: 50%;
}
#main .box:nth-child(13) {
  animation-delay: 13.5s;
  top: 20%;
  left: 60%;
}